<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Change Password</title>
  </head>
  <body>
    <table
      bgcolor='#f5f5f5'
      style="margin-top: 10; font-family: 'Helvetica', san-serif; color: #444"
      width='100%'
    >
      <tbody>
        <tr>
          <td>
            <table
              align='center'
              bgcolor='#fffffe'
              cellpadding='0'
              cellspacing='0'
              style='margin-top: 20px; border-radius: 7px'
              width='550'
            >
              <tbody>
                <tr bgcolor='#fffffe'>
                  <td
                    style='
                      display: inline-block;
                      padding: 20px;
                      border-radius: 7px 0 0 0;
                    '
                  >
                    <img
                      alt='ITviec'
                      border='0'
                      height='35'
                      src='https://ci3.googleusercontent.com/meips/ADKq_NaUtcy-qNTRdrr6QN182z2_4zvWSCyKSPoSzADxl45NOt1LnNSUhP9EE4buOiQ7E5TTmsyNpl9DwX4wpfhBom83pFTnzXwpgKDFoLb9HAfbDs1zVAOWmEoFp1mtwS_xTm5t4qRt1Qt5ZVK8sZ44NgwSNGWW5Q0EhunZT3GGCMEVD9dRImhiw83t14fCrE-f37su=s0-d-e1-ft#https://itviec.com/assets/mails/logo-for-email-black-bg-8d718a896d6f715833db689fa302df7593fad93c2ca031bfa6ca6d7881dd24d3.png'
                      class='CToWUd'
                      data-bit='iit'
                    />
                  </td>
                  <td
                    style='
                      color: #000;
                      margin-top: 8px;
                      font-size: 18px;
                      border-radius: 0 7px 0 0;
                      text-align: right;
                      padding: 20px;
                      display: inline-block;
                      float: right;
                    '
                  >
                    Ít Nhưng Mà Chất
                  </td>
                </tr>
                <tr>
                  <td colspan='2' style='padding: 20px'>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <table
                              align='center'
                              bgcolor='white'
                              cellpadding='0'
                              cellspacing='0'
                              style='border-radius: 7px'
                              width='550'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td style='padding-bottom: 10px'>
                                            Hi
                                            {{username}},
                                            <br />
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style='padding-bottom: 10px'>
                                            <p>
                                              Your password on ITviec has been
                                              changed successfully.
                                            </p>
                                            <p>
                                              Access your account on ITviec with
                                              the information below:
                                            </p>
                                            <p>
                                              Email:
                                              <a
                                                href='mailto:{{email}}'
                                                target='_blank'
                                              >{{email}}</a>
                                            </p>
                                            <p>
                                              Login with your email and new
                                              password here:
                                              <a
                                                href='{{{path}}}/login'
                                                target='_blank'
                                              >Sign In</a>
                                            </p>
                                            <p>
                                              Thank you! See you soon on ITviec.
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td style='font-size: 14px'>
                                            Cheers,
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            style='
                                              padding-top: 10px;
                                              font-size: 14px;
                                            '
                                          >
                                            The ITviec Team
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style='
                                              font-size: 12px;
                                              padding-top: 10px;
                                            '
                                          >
                                            P.s. If you did not change your
                                            password, please contact us at
                                            <a
                                              href=''
                                              target='_blank'
                                            >Forum</a>. Your security is
                                            important to us.
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>