<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <table
      style='background-color: #f2f2f2; width: 100%; margin: 0; padding: 0'
    >
      <tbody>
        <tr>
          <td>
            <table align='center' style='width: 500px; margin: 24px auto 0'>
              <tbody>
                <tr>
                  <td>
                    <table
                      style='
                        min-width: 500px;
                        width: 500px;
                        border-radius: 8px 8px 0 0;
                        background: linear-gradient(
                          219deg,
                          #54151c 0%,
                          #121212 100%
                        );
                      '
                    >
                      <tbody>
                        <tr>
                          <td style='padding: 16px 0 12px 24px'>
                            <img
                              height='55'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NZn7YtgE9poZU7EfStELW1WVexgFrotq7Z73f_1BX4ukOm1xJm29byTfoG0chRJKYVnIXlwngOFvZQtTxb6UvA7KIx4edAfz-zQ5P0bcePXrPW3l5RkuT64e94vkhJHfjXz5xo7KnKxqzOTpvUdLRzymRzoxa_E1knqFkbC00A=s0-d-e1-ft#https://itviec.com/assets/mails/logo-5f3371a704b475a80f27523e1bcfc4853c03bd7e32b8893971074a64d48bdd6c.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                          <td style='padding: 4px 24px 0 0; text-align: right'>
                            <img
                              height='80'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NZuL5FfPzyV-Xbi7bGIXVXSvMc2Ssv2eJaJWpsLGq7aGzFyxe4SFe5zrtbJ4gGzF19USWSwQ2J3HerpTHefnPAocBazPnqwF4_pmb_-KWyb8OTn77zYTBRu2mVrzovqdtPVsvREniqqMN7xS11j9ajoaZJfl8kkmlXrlyXWLfXxvg09nIIMT1g3QpsuTQ=s0-d-e1-ft#https://itviec.com/assets/mails/robby-subscription-a000c03aa20a8f2397802b9b2addb7974f6352bf61491e0a0fc9c18f08a56b9d.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      style='
                        width: 100%;
                        background-color: #fff;
                        border-radius: 0 0 8px 8px;
                        border-spacing: 0;
                      '
                    >
                      <tbody>
                        <tr>
                          <td
                            style='
                              padding-top: 24px;
                              padding-left: 24px;
                              padding-bottom: 8px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            <span>Chào {{username}},</span>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 16px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            Cảm ơn bạn đã ứng tuyển vị trí
                            <strong>{{job}}</strong>
                            tại
                            <strong>{{company}}.</strong>
                            qua ITviec!
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 8px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            <div
                              style='
                                background-color: #eaf9e9;
                                padding: 12px 0;
                                text-align: center;
                                border-radius: 4px;
                              '
                            >
                              <span
                                style='display: block; margin-bottom: 8px'
                              >Trạng thái ứng tuyển hiện tại:</span>
                              <strong
                                style='
                                  background-color: #0ab305;
                                  padding: 4px 12px;
                                  color: white;
                                  border-radius: 16px;
                                  display: inline-block;
                                '
                              >
                                Chấp nhận
                              </strong>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 16px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            <p>
                              Đội ngũ chúng tôi sẽ liên hệ với bạn trong thời
                              gian sớm nhất để trao đổi thêm về vòng phỏng vấn
                              hoặc bước tiếp theo trong quy trình tuyển dụng.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 16px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            <strong>Bạn nên chuẩn bị:</strong>
                            <ul style='margin-top: 8px; margin-bottom: 0'>
                              <li>
                                Kiểm tra email và điện thoại thường xuyên.
                              </li>
                              <li>
                                Chuẩn bị sẵn sàng CV, portfolio (nếu có) và
                                thông tin cá nhân cần thiết.
                              </li>
                              <li>
                                Tìm hiểu thêm về công ty và vị trí ứng tuyển.
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style='margin-top: 24px; margin-bottom: 32px'>
                      <tbody>
                        <tr>
                          <td width='100%'>
                            <span style='font-size: 14px; font-weight: 400'>
                              <a
                                style='
                                  text-decoration: underline;
                                  color: #414042;
                                '
                                href=''
                                target='_blank'
                                data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAooOfFm-2F5ckxeXKQWm-2FM06gFalV8q3HHQ1ArJLmqp5EVvib8G2SGAq388-2BLrq73COQ-3D-3DuujY_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQkb4-2FKSDegVedIXJxho5-2F-2FJSPZNW-2BJF8RUqjjK1Axv232OkjAwrxROBs4C5Toe4rQ60oF3uD-2FfFEOGPKdhF7t3koH-2B08oD1QCxCEl-2Fj9-2FIvEZJ66EjX1lEo-2BpspVif47DgywlQe877NTWSv53KJbTpGPyiGqIvJJXdgtKnn2Vj8o-3D&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw1O6Lgd3C7BfFfc8urpPx63'
                              >» Khám phá Top công ty IT tốt nhất Việt Nam</a>
                            </span>
                          </td>
                          <td style='text-align: right'>
                            <img
                              height='20'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NYeB1YelNUjIL78OWl9mXOdR1UwVNeZmhMTv21iUqLgOj-p2U3s4zagz6yFWNZV6Cm6TP4MJvKT8RSRTIN9_qLEOVPHUcGTgDHsKEAv5DJKzXgQbcyv7w6Cs6qANRK0TJlBjPAJ7sPvXkrqNQIVpfaJ17AgOWPlulghCHGiTjTZOT9T2PEz=s0-d-e1-ft#https://itviec.com/assets/mails/logo-footer-11a1a4f9da6eceebada93c51a35ab4aa76d574bfb58880c5167700cf589a7ea9.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width='100%'>
                            <span style='font-size: 14px; font-weight: 400'>
                              <a
                                style='
                                  text-decoration: underline;
                                  color: #414042;
                                '
                                href=''
                                target='_blank'
                                data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblApA87l6VdFzyhkuu0tOBc90-3D2OCl_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQj4QEe3kPYPp1vxYRoc4GquK-2F6LQTy78yyMFbU9cAHnNtq1rFYwh4-2BUn3yOFG-2F4ap9w7FyGhpNXsKNw4JNvSZyeOWddDD4cH1b7nTOB65g62Bt6PccOrVYkLH-2Fl6DzWARz6Q4Hzd95i91Op-2FpVhTyHMoqouoDwim9PNAymHqmVMaLq6NvLm5BN5Uvk6Ch0OCE&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw3E1QxMx1lup2eP7afRhF_R'
                              >» Truy cập itviec.com</a>
                            </span>
                          </td>
                          <td>
                            <table style='margin-top: 12px'>
                              <tbody>
                                <tr>
                                  <td style='padding-right: 12px'>
                                    <a
                                      style='text-decoration: none'
                                      href=''
                                      target='_blank'
                                      data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAq6W8lAuH1q2qlQamZ0cIgclYzzTfSGjDJFzpVA-2BYWzAWDV3D9BZtC9mkKnGGLCE7A-3D-3DSAhV_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQ43di0xj0VMoP6Y2tAGjDz8e0kh1XPY6JsXSMT3h9AebZ2Ulyclmk0bOq7Au4DYQ43RQpUK63NvNxdh116DoJiKghJdCT17HcA08UuO2CJPfa1OqsM19Caf-2F98BhoFeo5RCAMlqwFFk4OkMODM-2F6upz0EJ-2F67QFeqcgmgLqB1fSzTBzTka2T4usG3AuotTGkq&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw191qgt84PnVdzvQWDNfNI9'
                                    ><img
                                        height='20'
                                        src='https://ci3.googleusercontent.com/meips/ADKq_NZsvV9CmW-LeJrSPuppVXJXext0GKiF0XFxRjLqrAcKXbQZ7HA8xSq1Gk4KzOt6RqpYNcoPhTF07jA9QxPYskEDmugeaaPj-UtTp5EQaYKFulG3a1nVgg5Bt1-O2SSsQuwHg7aQihZuw3u3_sQ7nsEDDuwOD1siUT356_HCRlHwRC_p9XAT-uU=s0-d-e1-ft#https://itviec.com/assets/mails/icon_linkedin-c712b404184fae37401e371c014fd4902e58664eeccc170998ddfff10dd844a2.png'
                                        class='CToWUd'
                                        data-bit='iit'
                                      />
                                    </a>
                                  </td>
                                  <td style='padding-right: 12px'>
                                    <a
                                      style='text-decoration: none'
                                      href='http://im2.itviec.com/ls/click?upn=u001.hCetwOD-2BTBM8q6ej9SblAlVbae0m8GNxzb5y-2FhOAYX-2BRJ1AL4dqWotu-2BYb5kp399d1wI_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQeQYUjUMEOl5G-2B37qUPVweVi8UK4CUfnxylcmbvIDPT-2BIeoAZxljFTlkK7GptSfTtYWNzKMLZLP20MFr4xqP5E1B-2FMPwjnYv7xzWkprNRn4qUolmwa5Lxg64Ekhy5PXndxENBpgZEAdMKLrNOmt-2BKBTZjYJcWBjuglNFJ4uDtmIndotoRFimfbQ8ksQ3DP4kO'
                                      target='_blank'
                                      data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAlVbae0m8GNxzb5y-2FhOAYX-2BRJ1AL4dqWotu-2BYb5kp399d1wI_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQeQYUjUMEOl5G-2B37qUPVweVi8UK4CUfnxylcmbvIDPT-2BIeoAZxljFTlkK7GptSfTtYWNzKMLZLP20MFr4xqP5E1B-2FMPwjnYv7xzWkprNRn4qUolmwa5Lxg64Ekhy5PXndxENBpgZEAdMKLrNOmt-2BKBTZjYJcWBjuglNFJ4uDtmIndotoRFimfbQ8ksQ3DP4kO&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw2ft_qS-WWMJiGTUmACo-Gp'
                                    ><img
                                        height='20'
                                        src='https://ci3.googleusercontent.com/meips/ADKq_NZ4uSwJtFzvllkjda4sudUz2LTdxQxlOlxRwcZeOSUI1OoxpIW3-dMx6ubUx7Hrm70w_OSR09rrUnEhdMXrZi1OtivMJ-TwmCmAuj63qb2DL-iW_ueIALqB2fVJamjnHrzqztB_AMycntYQwbFBurlEEKD1ZrBNf64fkLf6GeS7k0IfSiGmjA=s0-d-e1-ft#https://itviec.com/assets/mails/icon_youtube-a2f933538c55c77be1f5a2d55301b1b95641aadca752f8af0e58a1cd12d23b10.png'
                                        class='CToWUd'
                                        data-bit='iit'
                                      />
                                    </a>
                                  </td>
                                  <td>
                                    <a
                                      style='text-decoration: none'
                                      href='http://im2.itviec.com/ls/click?upn=u001.hCetwOD-2BTBM8q6ej9SblAiCyELm31SeC7J8cEm6ONlc2v9q9-2B0aNCy1cKs65jePQZd_b_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQrt7GuA5Bfb54CqOlUMj9wXO92LSW0-2BD-2BSdn5koTXpE6a197Tp-2BsiJMquFvvJV-2F5xVDbwh7W-2FQ2ojsxW9oxiQnxeFYPifQNluy4BSuacCcitsAxQiw2u0XM9nGkbFBaFbpBCSQ75788BiLmRw7ykikVJ1b7C5ov6QcEJB9tDI32hAy7ssyiTWxxN8VPb8aoKI'
                                      target='_blank'
                                      data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAiCyELm31SeC7J8cEm6ONlc2v9q9-2B0aNCy1cKs65jePQZd_b_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQrt7GuA5Bfb54CqOlUMj9wXO92LSW0-2BD-2BSdn5koTXpE6a197Tp-2BsiJMquFvvJV-2F5xVDbwh7W-2FQ2ojsxW9oxiQnxeFYPifQNluy4BSuacCcitsAxQiw2u0XM9nGkbFBaFbpBCSQ75788BiLmRw7ykikVJ1b7C5ov6QcEJB9tDI32hAy7ssyiTWxxN8VPb8aoKI&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw0_JVnwP2PSPEIu1YOUfqtE'
                                    ><img
                                        height='20'
                                        src='https://ci3.googleusercontent.com/meips/ADKq_Nbx0K6r07yNQkzxDT3Ykc4QyKd5kFFB7Br5J7G2bTTiXKEE4jvci6zyl0rWXPFvXaEIIz0eOrygQADP1SKmSjvL1002AtZbJ3f1PJ7nN0VzYbkvYVHn3ziH3_fiGoGj__2gQscOYlWVjLkgKgZF8NW01bmRodlx8noPOetd-HsMlS9ivTiBhUw=s0-d-e1-ft#https://itviec.com/assets/mails/icon_facebook-c1f9a404165c24ad599467b2d13f16a80dcd65020563c50366146f5ba0e45b27.png'
                                        class='CToWUd'
                                        data-bit='iit'
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td colspan='2'>
                            <a
                              style='
                                text-decoration: none;
                                color: #a6a6a6;
                                font-size: 12px;
                              '
                              href='http://im2.itviec.com/ls/click?upn=u001.hCetwOD-2BTBM8q6ej9SblAs32UnR-2FCsTC8uoumFRQ9TGARPtfjvXiD0l3sSgx7CXvLkaP8vwvBL9gkGpZYJiQnQ-3D-3D2ua3_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQR46rrV9dyFmIn7N-2BemWH9oRIxM-2FssaXgHWHqq-2Fpfe5tesldYG-2B0waucNVsN83AUPhL5jFMNNMhMEwe-2BZ4vAjC-2BKXoicE68ES56AG-2BOzyWAarcvtetVk-2BJvTVhJpMJYuZUP8a1je8SH4c6UbG68nBb2tyRW680gr8p37r-2BAUMzat4iCsu7IA9jDLtBA3hkrV7'
                              target='_blank'
                              data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAs32UnR-2FCsTC8uoumFRQ9TGARPtfjvXiD0l3sSgx7CXvLkaP8vwvBL9gkGpZYJiQnQ-3D-3D2ua3_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQR46rrV9dyFmIn7N-2BemWH9oRIxM-2FssaXgHWHqq-2Fpfe5tesldYG-2B0waucNVsN83AUPhL5jFMNNMhMEwe-2BZ4vAjC-2BKXoicE68ES56AG-2BOzyWAarcvtetVk-2BJvTVhJpMJYuZUP8a1je8SH4c6UbG68nBb2tyRW680gr8p37r-2BAUMzat4iCsu7IA9jDLtBA3hkrV7&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw0dQwXVDuBnFe3lavo2qhHD'
                            >Điều khoản dịch vụ</a>
                            <span
                              style='
                                padding: 0 8px;
                                color: #a6a6a6;
                                font-size: 12px;
                              '
                            >•</span>
                            <a
                              style='
                                text-decoration: none;
                                color: #a6a6a6;
                                font-size: 12px;
                              '
                              href='http://im2.itviec.com/ls/click?upn=u001.hCetwOD-2BTBM8q6ej9SblAs32UnR-2FCsTC8uoumFRQ9TH6BwmmyxSd-2B1tk2-2BnOM-2BH0Yl2KvNiIJsZY6LQxYwtfRQ-3D-3DnTtK_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQ5O7bXcRKfXx7XQr37Y02vY3iOpzR4K6pIST76g9PUfkV0jgHoBy5WiCDu3utk7EkWPfGl9jmqxGOaH1BfV7inJpxh4bMucxaznMDga0dE4pR1g2HE0gjOJBG1EuivJ3dHThPWVCTLQGRKzjh1sZr9dJSm9FCPF8OWrj964m-2B-2BAqC2wIzM6dP1t7QGK-2BDzzds'
                              target='_blank'
                              data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAs32UnR-2FCsTC8uoumFRQ9TH6BwmmyxSd-2B1tk2-2BnOM-2BH0Yl2KvNiIJsZY6LQxYwtfRQ-3D-3DnTtK_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1Zpo2qP0-2BhUmiCr1KPX-2FQBSd1gY0QZxohgcfZ4VeU4PQ5O7bXcRKfXx7XQr37Y02vY3iOpzR4K6pIST76g9PUfkV0jgHoBy5WiCDu3utk7EkWPfGl9jmqxGOaH1BfV7inJpxh4bMucxaznMDga0dE4pR1g2HE0gjOJBG1EuivJ3dHThPWVCTLQGRKzjh1sZr9dJSm9FCPF8OWrj964m-2B-2BAqC2wIzM6dP1t7QGK-2BDzzds&amp;source=gmail&amp;ust=1747542091968000&amp;usg=AOvVaw3s3R29xOnngSC2D5V9Tlw-'
                            >Chính sách quyền riêng tư</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>