<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <div class=''><div class='aHl'></div><div id=':il' tabindex='-1'></div><div
        id=':ib'
        class='ii gt'
        jslog='20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgyNTg2MzUyOTg4MTc5MDY4OSJd; 4:WyIjbXNnLWY6MTgyNTg2MzUyOTg4MTc5MDY4OSIsbnVsbCxudWxsLG51bGwsMSwwLFsxLDAsMF0sMzYsMjE0LG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwxLG51bGwsbnVsbCxbM10sbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsMF0.'
      ><div id=':ia' class='a3s aiL'><u></u>
          <div>
            <table
              bgcolor='#f5f5f5'
              style="margin-top:10;font-family:'Helvetica',san-serif;color:#444"
              width='100%'
            >
              <tbody><tr>
                  <td>
                    <table
                      align='center'
                      bgcolor='#fffffe'
                      cellpadding='0'
                      cellspacing='0'
                      style='margin-top:20px;border-radius:7px'
                      width='550'
                    >
                      <tbody><tr bgcolor='#fffffe'>
                          <td
                            style='display:inline-block;padding:20px;border-radius:7px 0 0 0'
                          >
                            <img
                              alt='ITviec'
                              border='0'
                              height='35'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NaUtcy-qNTRdrr6QN182z2_4zvWSCyKSPoSzADxl45NOt1LnNSUhP9EE4buOiQ7E5TTmsyNpl9DwX4wpfhBom83pFTnzXwpgKDFoLb9HAfbDs1zVAOWmEoFp1mtwS_xTm5t4qRt1Qt5ZVK8sZ44NgwSNGWW5Q0EhunZT3GGCMEVD9dRImhiw83t14fCrE-f37su=s0-d-e1-ft#https://itviec.com/assets/mails/logo-for-email-black-bg-8d718a896d6f715833db689fa302df7593fad93c2ca031bfa6ca6d7881dd24d3.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                          <td
                            style='color:#000;margin-top:8px;font-size:18px;border-radius:0 7px 0 0;text-align:right;padding:20px;display:inline-block;float:right'
                          >
                            Ít Nhưng Mà Chất
                          </td>
                        </tr>
                        <tr>
                          <td colspan='2' style='padding:20px'>
                            <table>
                              <tbody><tr>
                                  <td>
                                    <table
                                      align='center'
                                      bgcolor='white'
                                      cellpadding='0'
                                      cellspacing='0'
                                      style='border-radius:7px'
                                      width='550'
                                    >
                                      <tbody><tr>
                                          <td style='padding-bottom:10px'>
                                            <p>Hi
                                              <a
                                                href='mailto:{{email}}'
                                                target='_blank'
                                              >{{email}}</a>,</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style='padding-bottom:10px'>
                                            <p>Please click the button below to
                                              reset your password.</p>
                                            <a
                                              style='padding:10px 20px;background-color:#ea1e30;text-decoration:none;color:#fffffe;border-radius:5px;display:inline-block;max-width:70%;font-size:16px;margin:10px 0'
                                              href='{{{path}}}/reset-password?email={{{email}}}'
                                              target='_blank'
                                              data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAtCPfa6yL6Bzd9i7ma-2BcXZ-2F-2BNBZ6gqKChMJiVVtSrGBKX9gBzkUgC-2F-2BLGqhS-2B3uLvpsSFOgd1dtg1tZHYBhk4mOokgl8ikyP5vN8olySb6YKApCM_TMoGkK4JIuflEj97v2ei5xFdqHE45eAgCb1idL8169LkMRIQq8H9WaOq6NhesmWv-2FdB6Q6ITrpVlOQw5IHgkeVUsJOOaDh63ZRQxQ6zcE6N8cFnxrPC79mF8FF8jtobJjFbqbrdkF1Z-2Bn6vNgLaPJK0tSFEjfFqzBlmJQxGWkk7haTLzQaT-2BKEG1J6-2FC1y-2F2gaTwNb5a0ulCy2UaLFL6VOtE5xsmGgtBfJ44WchzPNw-3D&amp;source=gmail&amp;ust=1741365653606000&amp;usg=AOvVaw3HNS3yH7BdIebzz7jfJSnm'
                                            >Reset my Password</a>
                                            <p>Thank you! See you soon on
                                              ITviec.</p>
                                          </td>
                                        </tr>
                                        <tr><td><br />
                                          </td></tr></tbody></table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style='font-size:14px'>
                                    Cheers,
                                  </td>
                                </tr>
                                <tr>
                                  <td style='padding-top:10px;font-size:14px'>
                                    The ITviec Team
                                  </td>
                                </tr>

                                <tr>
                                  <td
                                    style='text-align:left;font-size:14px;padding-top:10px;line-height:1.5em'
                                  >
                                    <a
                                      style='border-bottom:1px dotted #ea2635;text-decoration:none;color:#ea2635'
                                      href='http://im2.itviec.com/ls/click?upn=u001.hCetwOD-2BTBM8q6ej9SblAlVbae0m8GNxzb5y-2FhOAYX9n55rQ-2BjPDJ04jpbkwr7ijV8mXZQyI0cULGY-2FdEuHChAlFeuECW3D0bMKT-2FLmvB9p95MaphqQqqec33xqPpKt8UAZ7_TMoGkK4JIuflEj97v2ei5xFdqHE45eAgCb1idL8169LkMRIQq8H9WaOq6NhesmWv-2FdB6Q6ITrpVlOQw5IHgkebIo0w5whbgk9C3gZwabQifLQMtnKWFNLWH-2Fa2WOygn1zzSUNlIzAaAywaD5TxSiKP3-2F-2BcvI1sd9s5yCmIAtqLi1cDEzNLEzp7zQykHE2gyOfe-2F3fgmAS2eCzyX8SJrZ1jasGYIvkRF1s0q0MeOekZc-3D'
                                      target='_blank'
                                      data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAlVbae0m8GNxzb5y-2FhOAYX9n55rQ-2BjPDJ04jpbkwr7ijV8mXZQyI0cULGY-2FdEuHChAlFeuECW3D0bMKT-2FLmvB9p95MaphqQqqec33xqPpKt8UAZ7_TMoGkK4JIuflEj97v2ei5xFdqHE45eAgCb1idL8169LkMRIQq8H9WaOq6NhesmWv-2FdB6Q6ITrpVlOQw5IHgkebIo0w5whbgk9C3gZwabQifLQMtnKWFNLWH-2Fa2WOygn1zzSUNlIzAaAywaD5TxSiKP3-2F-2BcvI1sd9s5yCmIAtqLi1cDEzNLEzp7zQykHE2gyOfe-2F3fgmAS2eCzyX8SJrZ1jasGYIvkRF1s0q0MeOekZc-3D&amp;source=gmail&amp;ust=1741365653606000&amp;usg=AOvVaw3th-eBDC4GwwXs_OwiJ2ry'
                                    >Enjoy our new "Developer Chất" series</a>
                                  </td>
                                </tr>

                              </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            <img
              src='https://ci3.googleusercontent.com/meips/ADKq_NaOXsQFyYJHa13MfJnLJShO1ApSMDHHCCgn3rfoEemcVa1bcUYChXgUsgtG61xPCUWI91mlKMphxWV7VL-cyFEursLIYFoTVPjI45rc-4xjhSJxnK_-zxT4Mj8yMBUtOw-1bULP3qxm92j1WVtvAacRsOi2Sv9V49MGpvX4UwLFxYzgqDuHwnhjygJOQqZ8LiAZoywTEQDcOloLl_yJgqgq8-ORiOOnid-Y8Thv5xY0Tqd6_FFKjICvT8_RWuR6OhN0upFPBLIl0a8PGyhE12OlKWH1g4xPynSNbbfh-6zQi_RWYHH9n-HRjJ-BMNkMqTl6vHml4l0Qa5oEsruP2tL5puuu7Z6Gkk04bhZGQWaEOi1fCpYbJAmywgADQe_7TJexdzszYv3hfPWOPKsGdeX-ar2PP0jQ5cKqL9Urn2j_HoBh5yezJKPxhTfN8snd8evMg_Fw_RYO=s0-d-e1-ft#http://im2.itviec.com/wf/open?upn=u001.T45Em2U6vfv9t3N1afphQj35YpDx-2Fql4Wn9qFxucGQBgccCaP1Zv2nBbOCOT2LaGrhw6WzlSbid4m5l0E9IXcGOFqQRekpJZPP8S3r-2BvAtV9-2Frp-2FksE3wZRRgY9Ia7tSwkV6x0mU08zuM5Cm4uGNpJD-2Fq-2Bu-2ByA9NIz0JeXhlAJsCby4MmwV-2FcKQUPoOu-2FabOx6zeFsTHJNQYXXrbWxFE-2FNJKkoiK-2B88Q8lSBAVqWkVdkj7nK1i6mc-2FS-2B9m8LwCfe'
              alt=''
              width='1'
              height='1'
              border='0'
              style='height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important'
              class='CToWUd'
              data-bit='iit'
            /></div>
          <u></u><div class='yj6qo'></div><div class='adL'>
          </div></div></div><div class='WhmR8e' data-hash='0'></div></div>
  </body>
</html>